<div>
    <div class="mains">
        <ol>
            <li *ngFor="let item of todo; let i = index">
                <div class="task">
                    <div class="appearing">
                        <div class="task-name">
                            <p><strong>Name:</strong> <span id="name">{{item.name}}</span></p>
                        </div>
                        <div class="task-toggle-button">
                            <button (click)="toggleDescription(i)">Details</button>
                        </div>
                    </div>
                    <div class="disappearing">
                        <div class="description">
                            <p><strong>Description:</strong>
                                <app-to-do-detail *ngIf="item.showDescription" [item]="item"></app-to-do-detail>
                            </p>
                        </div>
                        <div class="done-button">
                            <button>Done</button>
                        </div>
                    </div>
                </div>
            </li>
            <p *ngIf="todo.length > 10">Beware, those are a lot of things to do in just one day!!!</p>
        </ol>

    </div>

</div>